In [1]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
df=pd.read_csv('IM_DA_TK_ALL.csv')

df['DATE'] = pd.to_datetime(df['DATE'])

df[(df['DATE'] >= '2022-12-01')&(df['DATE'] <= '2022-12-31')]

,DATE,IM_TK,DA_TK,DA_SYSTEM_PRICE,DA_TOTAL_VOLUME,DA_BUY_VOLUME,DA_SELL_VOLUME,PRECIPITATION,RADIATION,WIND_DIRECTION,WIND_SPEED,TEMPERATURE,GAS_USD,USD_JPY,GAS_JPY,TTS,TTB,TTM
1440,2022-12-01 00:00:00,21.29,17.00,15.00,18206550,18910950,21768650,0.0,0.0,0.0,3.1,13.5,33.780,137.09,4631.0,138.09,136.09,137.09
1441,2022-12-01 00:30:00,20.16,17.30,16.00,18290050,19007050,23034450,0.0,0.0,0.0,3.1,13.5,33.780,137.09,4631.0,138.09,136.09,137.09
1442,2022-12-01 01:00:00,20.55,17.68,17.13,18455950,19238450,24128100,0.0,0.0,292.5,1.4,12.8,33.780,137.09,4631.0,138.09,136.09,137.09
1443,2022-12-01 01:30:00,20.40,17.76,17.30,18563900,19430500,24383550,0.0,0.0,292.5,1.4,12.8,33.780,137.09,4631.0,138.09,136.09,137.09
1444,2022-12-01 02:00:00,20.69,17.30,17.30,18622700,19388500,24472700,0.0,0.0,292.5,2.3,12.4,33.780,137.09,4631.0,138.09,136.09,137.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2876,2022-12-30 22:00:00,30.01,27.08,28.24,20149150,24616450,23478550,0.0,0.0,315.0,2.3,6.0,29.515,132.70,3917.0,133.70,131.70,132.70
2877,2022-12-30 22:30:00,29.28,29.10,30.00,19844750,23963450,23026100,0.0,0.0,315.0,2.3,6.0,29.515,132.70,3917.0,133.70,131.70,132.70
2878,2022-12-30 23:00:00,29.15,25.75,26.83,19701850,23319600,22583050,0.0,0.0,292.5,1.9,5.1,29.515,132.70,3917.0,133.70,131.70,132.70
2879,2022-12-30 23:30:00,28.78,23.01,23.01,18762100,21315150,21721950,0.0,0.0,292.5,1.9,5.1,29.515,132.70,3917.0,133.70,131.70,132.70
2880,2022-12-31 00:00:00,22.40,24.90,24.90,17742850,20827400,19587950,0.0,0.0,315.0,1.5,4.1,29.515,132.70,3917.0,133.70,131.70,132.70

In [2]:
df.drop(['IM_TK',"DA_SYSTEM_PRICE"],axis=1,inplace=True)

In [3]:
# Ensure DATETIME is in datetime format and sort the data
df['DATE'] = pd.to_datetime(df['DATE'])
df.sort_values('DATE', inplace=True)

In [4]:
# # We focus only on the  for the LSTM model
# prices = df['DA_KS'].values.reshape(-1, 1)
prices = df['DA_TK']

In [5]:
# NP = (prices- prices.min()) / (prices.max() - prices.min())
NP = prices

In [6]:
def create_sequences(data, sequence_length):
    xs, ys = [], []
    for i in range(len(data) - sequence_length):
        x = data[i:(i + sequence_length)]
        y = data[i + sequence_length]
        xs.append(x)
        ys.append(y)
    return np.array(xs), np.array(ys)

sequence_length = 1

In [7]:
# Create sequences
X, y = create_sequences(NP, sequence_length)

In [8]:
from tensorflow.keras.models import load_model

WARNING:tensorflow:From C:\Users\User\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
modeltest = load_model('testTokyo.h5')

WARNING:tensorflow:From C:\Users\User\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [10]:
predicted = modeltest.predict(X)

507/507 [==============================] - 1s 1ms/step

In [14]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(predicted, y)
MSE

144.78195044251947

In [12]:
from sklearn.metrics import mean_absolute_error
MAE= mean_absolute_error(predicted, y)
MAE

11.363934533398718

In [13]:
from sklearn.metrics import r2_score
R2=r2_score(predicted, y)
R2

-11.550097888086158