In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('IM_DA_KS_ALL.csv')

df['DATE'] = pd.to_datetime(df['DATE'])

df[(df['DATE'] >= '2023-02-01')&(df['DATE'] <= '2023-02-28')]

,DATE,IM_KS,DA_KS,DA_SYSTEM_PRICE,DA_TOTAL_VOLUME,DA_BUY_VOLUME,DA_SELL_VOLUME,PRECIPITATION,RADIATION,WIND_DIRECTION,WIND_SPEED,TEMPERATURE,GAS_USD,USD_JPY,GAS_JPY,TTS,TTB,TTM
4416,2023-02-01 00:00:00,18.05,17.76,17.62,21011950,24038350,23494400,0.0,0.0,337.5,2.7,2.8,18.97,129.90,2464.0,130.90,128.90,129.90
4417,2023-02-01 00:30:00,17.78,17.00,16.99,21422900,24092100,25253850,0.0,0.0,337.5,2.7,2.8,18.97,129.90,2464.0,130.90,128.90,129.90
4418,2023-02-01 01:00:00,17.89,16.99,16.90,21446900,24052150,25999400,0.0,0.0,315.0,2.2,1.8,18.97,129.90,2464.0,130.90,128.90,129.90
4419,2023-02-01 01:30:00,17.67,16.91,16.51,21525650,23988000,26442800,0.0,0.0,315.0,2.2,1.8,18.97,129.90,2464.0,130.90,128.90,129.90
4420,2023-02-01 02:00:00,17.42,16.55,16.01,21548600,23815750,26672500,0.0,0.0,315.0,1.5,1.4,18.97,129.90,2464.0,130.90,128.90,129.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5708,2023-02-27 22:00:00,14.74,17.41,16.48,19719650,23043200,24289850,0.0,0.0,202.5,3.1,10.1,14.97,136.27,2040.0,137.27,135.27,136.27
5709,2023-02-27 22:30:00,14.71,15.39,14.62,19618700,22393700,24368550,0.0,0.0,202.5,3.1,10.1,14.97,136.27,2040.0,137.27,135.27,136.27
5710,2023-02-27 23:00:00,17.71,14.92,14.27,19021200,21687700,23571200,0.0,0.0,202.5,2.3,9.3,14.97,136.27,2040.0,137.27,135.27,136.27
5711,2023-02-27 23:30:00,17.60,13.73,13.34,18362700,20708600,23326350,0.0,0.0,202.5,2.3,9.3,14.97,136.27,2040.0,137.27,135.27,136.27
5712,2023-02-28 00:00:00,18.11,14.07,14.17,18643250,21416150,21547050,0.0,0.0,202.5,2.5,8.8,14.36,136.33,1958.0,137.33,135.33,136.33

In [2]:
df.drop(['IM_KS',"DA_SYSTEM_PRICE"],axis=1,inplace=True)

In [3]:
# Ensure DATETIME is in datetime format and sort the data
df['DATE'] = pd.to_datetime(df['DATE'])
df.sort_values('DATE', inplace=True)

In [4]:
# # We focus only on the  for the LSTM model
# prices = df['DA_KS'].values.reshape(-1, 1)
prices = df['DA_KS']

In [5]:
# NP = (prices- prices.min()) / (prices.max() - prices.min())
NP = prices

In [6]:
def create_sequences(data, sequence_length):
    xs, ys = [], []
    for i in range(len(data) - sequence_length):
        x = data[i:(i + sequence_length)]
        y = data[i + sequence_length]
        xs.append(x)
        ys.append(y)
    return np.array(xs), np.array(ys)

sequence_length = 1

In [7]:
# Create sequences
X, y = create_sequences(NP, sequence_length)

In [8]:
from tensorflow.keras.models import load_model

WARNING:tensorflow:From C:\Users\User\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
modeltest = load_model('KS.h5')

WARNING:tensorflow:From C:\Users\User\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [10]:
predicted = modeltest.predict(X)

507/507 [==============================] - 1s 1ms/step

In [11]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(predicted, y)
MSE

18.526523797121392

In [12]:
from sklearn.metrics import mean_absolute_error
MAE= mean_absolute_error(predicted, y)
MAE

3.489592547126812

In [13]:
from sklearn.metrics import r2_score
R2=r2_score(predicted, y)
R2

0.17655561059934122